<html>
<head>
<title>DNSSEC Rollercoaster Dashboard</title>

<meta http-equiv="refresh" content="{{ refresh }}">
<meta http-equiv="pragma" content="no-cache">

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th.current {
  background-color: yellow;
}

td.publish {
  background-color: LightGrey;
}

td.zsk {
  background-color: LightGreen;
}

td.ksk {
  background-color: Cyan;
}

td.revoked {
  background-color: LightSalmon;
}

div.algorithm {
  font-weight: bold;
}
div.keytag {
  font-size: 80%;
}
</style>

</head>

<body>

<h1>DNSSEC Rollercoaster Dashboard</h1>

<p><i>Last updated: {{ now.isoformat() }}</i></p>

<ul>
<li><a href="root.hints">Hints file</a></li>
<li><a href="root.anchors">Trust anchors</a></li>
</ul>

<table>

<tr>
{% for q in range(1, quarters+1) %}
{% if q == current_quarter %}
<th colspan="{{ slots }}" class="current">
{% else %}
<th colspan="{{ slots }}">
{% endif %}
Quarter {{ q }}
</th>
{% endfor %}
</tr>

<tr>
{% for q in range(1, quarters+1) %}
{% for s in range(1, slots+1) %}

{% if q == current_quarter and s == current_slot %}
<th class="current">
{% else %}
<th>
{% endif %}
{{ s }}
</th>
{% endfor %}
{% endfor %}	
</tr>

{% for name, slots in rows.items() %}
<tr>

{% for slot in slots %}

{% if slot %}
  {% if slot.revoked %}
    {% set class = "revoked" %}
  {% elif slot.sign and slot.ksk %}
    {% set class = "ksk" %}
  {% elif slot.sign %}
    {% set class = "zsk" %}
  {% elif slot.publish %}
    {% set class = "publish" %}
  {% else %}
    {% set class = "other" %}
  {% endif %}

{% endif %}

<td class="{{ class }}">

{% if slot %}
<div class="{{ key_class }}">
<div class="algorithm">{{ slot.algorithm }}</div>
<div class="keytag">{{ slot.keytag }}</div>
</div>
{% endif %}
</td>
{% endfor %}

</tr>
{% endfor %}

	
</table>
</body>
</html>
